.footer{
    background-color: black;
    width: 100%;
    color: white;
    height: 13vh;
    font-weight: bold;
    font-size: 1.125rem; 
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}